/* INICIO DE DECLARACION DE VARIABLES
         variables con las que se trabajaran */
:root {
  --color: #1a2537;
  --secondarycolor: #0d2227ff;
  --edit: #0f8ead;
}
/* FIN DE DECLARACION DE VARIABLES */

/* barra lateral de navegacion */

.body {
  display: flex;
  flex-direction: column;
  height: 70%;
  font-size: 1rem;
}

.aside {
  font-weight: bold;
  background-image: radial-gradient(circle at 50% -3.03%, #f1ece3 0, #bfc7d6 50%, #8ca3c9 100%);
}

.aside-menu {
  display: flex;
  flex-direction: row;
  color:#000;
  
}

.aside-item {
  display: flex;
  width: 35%;
  text-align: center;
  margin: 1rem;
  list-style: none;
  color:#000;
}

.aside-link {
  background-image: radial-gradient(circle at 50% -3.03%, #fffaf9 0, #eef1f2 16.67%, #d9e7ec 33.33%, #c3dce6 50%, #aed1e1 66.67%, #9ac6dd 83.33%, #87bcda 100%);
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
  transition: all 0.5s ease;
  cursor: pointer;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  color:#000;
}
.aside-link:hover {
  background: var(--edit);
}
.aside-link:focus {
  background: var(--edit);
  border-left: 6px solid var(--color);
}

/* Contenedor para la informacion del perfil de usuario  */

.container-perfil {
  padding: 0 40px;
  margin-bottom: 20px;
}
.body-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}
.body-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.body-form-center {
  display: flex;
  justify-content: center;
}
.body-form-center-img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.body-form-text {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.body-form-label {
  font-weight: bold;
  padding: 5px;
  padding-left: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.body-form-input {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color);
  font-size: 16px;
  padding: 0 5px;
  background: white;
  color: var(--color);
  width: 100%;
}
.body-form-input:focus {
  border: 0.05px solid var(--color);
  border-bottom: 1px solid var(--edit);
}
.body-form-center-btn {
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s ease;
  border-radius: 10px;
  outline: none;
  padding: 5px 10px;
  background: var(--edit);
  border: 1px solid var(--color);
}
.body-form-center-btn:hover {
  background: var(--color);
  color: white;
  border: 1px solid white;
}

.body-form-center-btn:focus {
  background: var(--color);
  color: white;
  border: 1px solid white;
}
.icon-profile {
  margin-right: 5px;
  font-size: 22px;
}



/* AQUÍ EMPIEZAN LOS ESTILOS PARA MIS-CURSOS */

.botoncursofavorito{
	background-color: #c9f5f5;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0px ;
    cursor: pointer;
	border-radius: 100px;
}
.bodyc{
  background-color: var(--secondarycolor);
  display: flex;
  flex-direction: column;
  height: 150%;

}

.cursos-perfil {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 150%;
  justify-content: center;
  align-items: center;

  
}

.ppbox-one, .ppbox-two, .ppbox-three, .ppbox-four {
  width: 90%;
  height: 90%;
  margin: 4%;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  background-image: radial-gradient(circle at 0% 0%, #bad7ad 0, #abd0a7 16.67%, #97c69d 33.33%, #7cb891 50%, #5faa86 66.67%, #44a081 83.33%, #289980 100%);
}

.pbox-one, .pbox-two, .pbox-three, .pbox-four {
  width: 20%;
  height: 90%;
  margin: 4%;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
}



.cursos-perfil a {
  background-image: radial-gradient(circle at 50% -3.03%, #f1ece3 0, #bfc7d6 50%, #8ca3c9 100%);
  color: #000;
  margin: auto;
  padding: 1rem;
  font-weight: bolder;
  border-radius: .5rem;
}


.pbox-one {
  background: url(Images/1.png) no-repeat center center/cover;
  opacity: 1;

}

.pbox-two {
  background: url(Images/2.png) no-repeat center center/cover;
  opacity: 1;

}

.pbox-three {
  background: url(Images/4.png) no-repeat center center/cover;
  opacity: 1;

}

.pbox-four {
  background: url(Images/9.png) no-repeat center center/cover;
  opacity: 1;

}