/* Generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    background-color: #0D1120;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23c9f5f5' fill-opacity='0.11' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: #c9f5f5;
}

/* Reglas CSS específicas para el index */

.body {
    display: flex;
    justify-content: center;

}

header {
    display: block;
    text-align: center;
    padding: 3rem 2rem 5rem;
}

input {
    color: #c9f5f5;
}

.header h2 {
    font-size: 1.3rem;
}

.container {
    width: 70%;
    height: 400px;
    margin: auto;
    text-align: center;
    background-color: #141d25;
    border-radius: 2rem;
    padding: 2rem;
}

.container h3 {
    padding: 1rem 0 2rem;
}

.container a {
    color: #8888ff;
    text-decoration: none;
    display: inline-block;
    margin: 3rem;
}

.container-two {
    width: 70%;
    margin: auto;
    padding: 2rem;
    text-align: center;
}

.container-two a {
    color: #8888ff;
    text-decoration: none;
}

h1 {
    font-weight: 800;
}

.image-main {
    width: 50px;
    background-color: #c9f5f5;
    border-radius: 2rem;
}

.datos {
    display: block;
    padding: .5rem;
}

.input-main {
    width: 70%;
    background-color: #383e44;
    border-style: solid;
    border-radius: .3rem;
    margin-bottom: .5rem;
}

.container .input-main:last-of-type {
     margin-bottom: 3rem;
}

#boton {
    width: 60%;
    color: #141d25;
    font-weight: bolder;
    display: inline-block;
    margin: 10% 20% 0 20%;
    padding: .5rem;
    border-radius: 1rem;
    background-color: #c9f5f5;
    cursor: pointer;
}

/* Fin Reglas CSS específicas para el index */


/* Comienzo de reglas CSS específicas para el register.html */

header.header-register {
    display: block;
    font-size: .5rem;
    text-align: center;
    padding: 1rem 2rem;
}

.image-register {
    width: 20px;
    background-color: #c9f5f5;
    border-radius: 2rem;
}

.titulo_registro {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #c9f5f5;
    font-size: 2rem;
}

hr {
    background-color: black;
    margin: 10px 35%;
}

.principal {
    text-align: center;
    background-color: #141d25;
    margin: 10px -5%;
    padding: .75rem 0 2.5rem;
    border-width: medium;
    border: 3px solid #333;
    border-radius: 50px;
    color: #c9f5f5;
}

.registro {
    width: 80%;
    background-color: #383e44;
    border-radius: .3rem;
    margin-bottom: .5rem;
}

#boton_registro {
    text-align: center;
    color: #141d25;
    font-weight: bolder;
    width: 90px;
    height: 50px;
    background-color: #c9f5f5;
    border-radius: 50px;
}
/* Fin de reglas CSS específicas para el register.html */



/* Comienzo de reglas CSS específicas para el forgotpw.html */

.foto1 {
    width: 50px;
    background-color: #0ff1e6;
    border-radius: 2rem; 
    vertical-align: middle;
}


/* Fin de reglas CSS específicas para el forgotpw.html */


/* Comienzo reglas específicas para el main.html */

.main-index {
    height: 100%;
    display: block;
}

.inicial {
    width: 100%;
    background-color: #0d1120ff;
}

a {
    text-decoration: none;
    color: #c9f5f5;
}

.nav-inicial {
    font-size: 1rem;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 2rem;
    padding: 1.5rem;
}

.nav-inicial ul {
    display: flex;
    list-style: none;
}

.nav-inicial ul li {
    padding: 1rem;
}

.second {
    display: flex;
    background-color: #fafafa;
    color: #010101;
    justify-content: space-between;
    align-items: center;
}

.second h2 {
    margin-right: 50%;
}

.img-main {
    width: 8rem;
    margin: 1rem;
}

.imag {
    display: flex;
    width: 100%;
    height: 70%;
    align-items: center;
    text-align: center;
    color: #fff;
}

span {
    font-style: italic;
}

.tird {
    background: url(Images/princi.jpg) no-repeat center center/cover;    
}

.imag h2 {
    width: 100%;
    padding: 2rem;
    background-color: #000000cc;
}

.nav-menu {
    font-size: 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 2rem;
    padding: 1.5rem;
}

.nav-menu ul {
    display: flex;
    list-style: none;
}

.nav-menu ul li {
    padding: 2rem;
    cursor: pointer;
}

.nav-menu ul li a:hover {
    border-bottom: 2px solid #010101;
}

.detail {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
    background-color: #0d1120ff;
}

.box-one, .box-two, .box-three {
    width: 30%;
    height: 90%;
    margin: 2.5%;
    border-radius: .3rem;
    display: flex;
    align-items: center;
    text-align: center;
}

.detail a {
    background-color: #ffffffff;
    color: #000;
    margin: 1rem;
    padding: 1rem 1rem;
    border-radius: .5rem;
}


.box-one {
    background: url(Images/imagen2.jpg) no-repeat center center/cover;
    opacity: .9;
}

.box-two {
    background: url(Images/imagen3.jpg) no-repeat center center/cover;
    opacity: .9;
}

.box-three {
    background: url(Images/imagen4.jpg) no-repeat center center/cover;
    opacity: .9;
}

.separador {
    width: 95%;
    margin: 2.5%;
    text-align: center;
}

.separador h4 {
    display: flexbox;
}

.separador hr {
    margin: .5rem 0;
}

.news-prod {
    display: flex;
    width: 100%;
    height: 25%;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
}

.sbox-one, .sbox-two, .sbox-three, .sbox-four {
    width: 21%;
    height: 90%;
    margin: 4%;
    border-radius: .3rem;
    display: flex;
    align-items: center;
    text-align: center;
}

.news-prod a {
    background-color: #ffffffff;
    color: #000;
    margin: auto;
    padding: 1rem;
    font-weight: bolder;
    border-radius: .5rem;
}


.sbox-one {
    background: url(Images/1.png) no-repeat center center/cover;
    opacity: .9;
}

.sbox-two {
    background: url(Images/2.png) no-repeat center center/cover;
    opacity: .9;
}

.sbox-three {
    background: url(Images/4.png) no-repeat center center/cover;
    opacity: .9;
}

.sbox-four {
    background: url(Images/9.png) no-repeat center center/cover;
    opacity: .9;
}

footer {
    background-color: #0d1120;
    color: #fafafa;
    font-weight: bolder;
    text-align: center;
    padding: 1.5rem;
}

/* Fin reglas específicas para el main.html */

/* Comienzo reglas específicas para el cursos.html */

a {
	text-decoration: none;
}

.botoncurso{
	background-color: #c9f5f5;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0px ;
    cursor: pointer;
	border-radius: 100px;
}

.logocurs {
    width: 50px;
    background-color: #c9f5f5;
    border-radius: 2rem;
}

.contenedor {
	width: 90%;
	max-width: 1200px;
	margin: auto;
}

/* ------------------------- */
/* HEADER */
/* ------------------------- */

.curso {
	padding: 40px 0;
}

.curso .logo {
	text-align: center;
	margin-bottom: 40px;
}

.curso .logo p {
	color: #9B9B9B;
}

.curso form {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.curso .barra-busqueda {
	width: 70%;
	height: 40px;
	line-height: 40px;
	background: #fff;
	padding: 0 20px;
	border-radius: 100px;
	border: none;
	text-align: center;
	font-size: 16px;
}

.curso .categorias {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.curso .categorias a {
	color: #9B9B9B;
	margin: 10px 20px;
	font-size: 18px;
	font-weight: 700;
}

.curso .categorias a.activo {
	color: rgb(255, 255, 255);
}

/* ------------------------- */
/* Grid */
/* ------------------------- */

.grid {
	position: relative;
	width: 100%;
	opacity: 0;
	transition: opacity 0.5s linear 1s;
}

.grid.imagenes-cargadas {
	opacity: 1;
}

.descripcion{
	color: black;
}

.grid .item {
	position: absolute;
	display: block;
	padding: 0;
	margin: 10px;
	width: calc(33.333333% - 20px);
}

.grid .item-contenido {
	position: relative;
}

.grid .item img {
	width: 100%;
	cursor: pointer;
	vertical-align: top;
}

/* ------------------------- */
/* Overlay */
/* ------------------------- */
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.9);
	width: 100%;
	height: 100vh;
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.overlay.activo {
	display: flex;
}

.overlay img {
	max-width: 100%;
}

.overlay .descripcion {
	display: block;
	background: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 5px;
	border-radius: 10px;
	max-width: 50%;
}

.contenedor-img {
	position: relative;
}

.overlay #btn-cerrar-popup {
	background: none;
	font-size: 20px;
	color: #fff;
	border: none;
	cursor: pointer;
	position: absolute;
	right: -20px;
	top: -20px;
}

/* Fin reglas específicas para el cursos.html */

/* Comienzo reglas específicas para el comunity.html */


.in-header-main1{
    float: center;
    text-align: left;
}
.main-main1{
    float: center;
    text-align: left;
}
.a1{
    font-size: 30px;
}
.a2{
    font-size: 30px;
}
#publicaciones{
    width:80%;
    height: auto;
    overflow:hidden;
    border: 1px solid;
    margin: 10px auto;
}
.titulo-post{
    color: #0ff1e6;
    overflow: hidden;
}
#publicaciones1{
    width:70%;
    height: auto;
    overflow:hidden;
    border: 1px solid black;
    margin-top:10px;
    float: left;
}
.post{
    width:99%;
    height:auto;
    overflow: hidden;
    padding:7px;
    background: black;
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: blue;
    border-radius: 10px;
    box-shadow: 0 1px 14px 2px rgba(0, 0, 0, .1);
    overflow: hidden;
    transition: .2s;
    cursor: pointer;
}
.post:hover{
    transform: translate(-4px);
    box-shadow: 0 1px 14px 2px rgba(0, 0, 0, .15);
    cursor: pointer;
}
.post:hover .img-post{
    transform: scale(1.1);
}
.enlace-post{
    text-decoration: none;
}
#publicaciones a .titulo-post{
    color: #0ff1e6;
    font-size: 22px;
    font-family: 'calibri light';
}
#publicaciones a .titulo-post:hover{
    text-decoration: underline;
}
.img-post{
    width: 130px;
    height :1;
    transition: .2s;
}
.datos-publicaciones{
    font-family: 'calibri ligth';
    color:#049981

}
.leer-mas{
    background: #049981;
    color: black;
    border :0px;
    padding: 5px;
    text-decoration: none;
    margin-top: 20px;
}
.leer-mas:hover{
    background: #049981;
    color: aqua;
}
.parrafo-post{
    font-family: 'calibri light';
    font-size: 20px;
    color: #049981;
    padding: 5px;
}
.enlace-paginacion{
    text-decoration: none;
    color: #0ff1e6;
}
.enlace-paginacion:hover{
    text-decoration: underline;
}
#sidebar{
    float:right;
    width: 28%;
    border: 0px solid;
    height: auto;
    overflow: hidden;
}
#buscar , #categorias, #sitios-amigos, #ultimos-post{
    border-radius: 10px;
    width: 100%;
    border: 1px solid #ccc;
    height: auto;
    overflow: hidden;
    margin-bottom: 20px;
}
#buscar input[type="text"]{
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px #ccc inset;
    padding: 10px 4px;
    border-radius: 10px;
    width: 75%;
    margin-left: 4%;
    margin-bottom: 4px;
}
#buscar .boton{
    border: 0px;
    color: #fff;
    background: #0ff1e6 ;
    padding: 10px;
    border-radius: 10px;
}
.encabezado-sidebar{
    width: 100%;
    height: 35px;
    background: #383e44;
    text-align: center;
    color: #049981;
    font-size: 19px;
    font-family: 'calibri light';
    text-align: left;
}
.enlace-sidebar{
    width: 100%;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid rgba(204, 204, 204, 0.24);
    padding: 10px 5px;
    color: #7db1b1;
}
.enlace-sidebar:hover{
    background: #c9f5f5;

}

/* Fin reglas específicas para el comunity.html */
/* Fin reglas específicas para el comunity.html */

/* Comienzo reglas específicas para el CursoCSS.html */
.img-css{
    width: 650px;
    margin: auto;
    display: block;
    height:1;
}
.img-css1{
    width: 400px;
    margin: auto;
    display: block;
    height:1;
}
.CSS{
    text-align: center;
    color: #c9f5f5;
    font-size: 1.5rem;
    
}
.encabezado-CSS{
    text-align: center;
}
.dinero{
    text-align: center;
}
.boton-CSS{
    border: 0px;
    color: rgb(15, 14, 14);
    background: #3b4242 ;
    padding: 10px;
    border-radius: 10px;
    float: inherit ;
}
.B-CSS{
    display: flex;
    justify-content: center;
}
.parrafo-post-1{
    font-size: 20px;
    color: #c9f5f5;
    padding: 5px;
}
.esl{
    color: #3b4242;
}
.img-facebook{
    width: 25px;
}
.img-twitter{
    width: 24px;
}
.img-whatsapp{
    width: 30px;
}
.Docente{
    color: #3b4242;
}
/* Fin reglas específicas para el CursoCSS.html */
/* Comienzo reglas específicas para el CursoCSS.html */
.img-css{
    width: 650px;
    margin: auto;
    display: block;
    height:1;
}
.img-css1{
    width: 400px;
    margin: auto;
    display: block;
    height:1;
}
.CSS{
    text-align: center;
    color: #c9f5f5;
    font-size: 1.5rem;
    
}
.encabezado-CSS{
    text-align: center;
}
.dinero{
    text-align: center;
}
.boton-CSS{
    border: 0px;
    color: rgb(15, 14, 14);
    background: #3b4242 ;
    padding: 10px;
    border-radius: 10px;
    float: inherit ;
}
.B-CSS{
    display: flex;
    justify-content: center;
}
.parrafo-post-1{
    font-size: 20px;
    color: #c9f5f5;
    padding: 5px;
}
.esl{
    color: #3b4242;
}
.img-facebook{
    width: 25px;
}
.img-twitter{
    width: 24px;
}
.img-whatsapp{
    width: 30px;
}
.Docente{
    color: #3b4242;
}
/* Fin reglas específicas para el CursoCSS.html */
/* Comienzo reglas específicas para el Cursojavascript.html */
.img-javascript{
    width: 650px;
    margin: auto;
    display: block;
    height:1;
}
.img-javascript1{
    width: 400px;
    margin: auto;
    display: block;
    height:1;
}
/* Fin reglas específicas para el cursojavascript.html */

/* Comienzo reglas específicas para el profile.html */

/* Fin reglas específicas para el profile.html */

.notificar {
    width: 55%;
    height: 200px;
    margin: auto;
    text-align: center;
    background-color: #141d25;
    border-radius: 2rem;
    padding: 2rem;
    align-items: center;
    padding: 50px 5px;
}


/* ¿Quiénes Somos? */

.cont-tablas{
    height: 80%;
    width: 80%;
    margin: 90px 150px 150px 150px;
    
    padding: 20px;
}
.informacion{
    margin: 0px 0px 0px 120px;
    height: 200px;
    width: 1000px;
    font-size: 25px;
}
.profesores{
    font-size: 20px;
    height: 200px;
    width: 1000px;
    margin: 90px 150px 0px 0px;
    text-align: center;
}
.tabla-profe{
    height: 200px;
    width: 100%;
}
.tabla-info{
    
    height: 200px;
    width: 100%;
}
/*ESTILOS DE AGREGAR CURSOS*/
.contagg{
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #37334d;
    
    width: 90%;
    align-items: center;
    margin: auto;
    }
    
    .aggdes { 
        grid-area: 3 / 2 / 6 / 8;
        /*background-color: #1883ba;*/

    }
    .aggtitulo { 
        grid-area: 1 / 2 / 2 / 8;
        /*background-color: #b6d9eb;*/
        align-self: center;
     }
    .aggimg { 
        grid-area: 2 / 9 / 6 / 12; 
        background-color: #60cef0;
        align-self: center;
        width: 250px;
        height: 50px;
        justify-items: center;  
        text-align: center;
        margin: auto; 
        color: #000; 
    }
    .crearcurso{
        grid-area: 6 / 9 / 7 / 12;
        align-items: center;
        /*background-color: #ebc9b6;*/
        
   }
   .agrtitulo{
        width: 855px;
        height: 50px;
        background-color: #141d25;
   }
   .agrdes{
        width: 855px;
        height: 200px;
        background-color: #141d25;
        color: #c9f5f5;
        font-family: 'calibri light';
        font-size: 16px;
        resize: none;
        
   }

   .agrimg{ 
        align-content: center;
   }
   input#agregarimg{
        width: 250px;
        height: 50px;
        opacity: 0;
   }

   .botoncreacurso{
    background-color: #c9f5f5;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0px ;
    cursor: pointer;
	border-radius: 100px;
   }
   .botoncreacurso:hover{
    color: #1883ba;
    background-color: #ffffff;
  }
  .textoprinaggcruso{
    text-justify: center;
  }