/* Generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    background-color: #0D1120;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23c9f5f5' fill-opacity='0.11' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: #c9f5f5;
}

.body-login {
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 3rem 2rem 5rem;
}

input {
    color: #c9f5f5;
}

.header h2 {
    font-size: 1.3rem;
}

.container {
    width: 100%;
    height: 55%;
    margin: auto;
    text-align: center;
    background-color: #141d25;
    border-radius: 2rem;
    padding: 2rem;
}

.container h3 {
    padding: 1rem 0 2rem;
}

.container a {
    color: #8888ff;
    text-decoration: none;
    display: inline-block;
    margin: 3rem;
}

.container-two {
    width: 70%;
    margin: auto;
    padding: 2rem;
    text-align: center;
}

.container-two a {
    color: #8888ff;
    text-decoration: none;
}

h1 {
    font-weight: 800;
}

.cont-image-main {
    display: flex;
    justify-content: center;
}

.image-main {
    width: 50px;
    background: url(../images/escalones.svg) no-repeat center center/cover;
    background-color: #c9f5f5;
    height: 3rem;
    border-radius: 2rem;
}

.datos {
    display: block;
    padding: .5rem;
}

.input-main {
    width: 70%;
    background-color: #383e44;
    border-style: solid;
    border-radius: .3rem;
    margin-bottom: .5rem;
}

.container .input-main:last-of-type {
     margin-bottom: 3rem;
}

.boton {
    width: 60%;
    color: #141d25;
    font-weight: bolder;
    display: inline-block;
    margin: 1rem 20% 0 20%;
    padding: .5rem;
    border-radius: 1rem;
    background-color: #c9f5f5;
    cursor: pointer;
}

.google-btn {
    background-image: linear-gradient(180deg, #65736e 0, #586d68 12.5%, #496763 25%, #37605d 37.5%, #1f5959 50%, #005156 62.5%, #004a54 75%, #004453 87.5%, #003d52 100%);
    color: #c9f5f5;
}

/* Estilos para el home */
.main-index {
    height: 100%;
    display: block;
}

.inicial {
    width: 100%;
    background-color: #0d1120ff;
}

a {
    text-decoration: none;
    color: #c9f5f5;
}

.nav-inicial {
    font-size: 1rem;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 2rem;
    padding: 1.5rem;
}

.nav-inicial ul {
    display: flex;
    list-style: none;
}

.nav-inicial ul li {
    padding: 1rem;
}

.second {
    display: flex;
    background-color: #fafafa;
    color: #010101;
    justify-content: space-between;
    align-items: center;
}

.second h2 {
    margin-right: 50%;
}

.img-main {
    width: 8rem;
    margin: 1rem;
}

.imag {
    display: flex;
    width: 100%;
    height: 70%;
    align-items: center;
    text-align: center;
    color: #fff;
}

span {
    font-style: italic;
}

.tird {
    background: url(../images/princi.jpg) no-repeat center center/cover;    
}

.imag h2 {
    width: 100%;
    padding: 2rem;
    background-color: #000000cc;
}

.nav-menu {
    font-size: 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 2rem;
    padding: 1.5rem;
}

.nav-menu ul {
    display: flex;
    list-style: none;
}

.nav-menu ul li {
    padding: 2rem;
    cursor: pointer;
}

.nav-menu ul li a:hover {
    border-bottom: 2px solid #010101;
}

.detail {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
    background-color: #0d1120ff;
}

.box-one, .box-two, .box-three {
    width: 30%;
    height: 90%;
    margin: 2.5%;
    border-radius: .3rem;
    display: flex;
    align-items: center;
    text-align: center;
}

.detail a {
    background-color: #ffffffff;
    color: #000;
    margin: 1rem;
    padding: 1rem 1rem;
    border-radius: .5rem;
}


.box-one {
    background: url(../images/imagen2.jpg) no-repeat center center/cover;
    opacity: .9;
}

.box-two {
    background: url(../images/imagen3.jpg) no-repeat center center/cover;
    opacity: .9;
}

.box-three {
    background: url(../images/imagen4.jpg) no-repeat center center/cover;
    opacity: .9;
}

.separador {
    width: 95%;
    margin: 2.5%;
    text-align: center;
}

.separador h4 {
    display: flexbox;
}

.separador hr {
    margin: .5rem 0;
}

.news-prod {
    display: flex;
    width: 100%;
    height: 25%;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
}

.sbox-one, .sbox-two, .sbox-three, .sbox-four {
    width: 21%;
    height: 90%;
    margin: 4%;
    border-radius: .3rem;
    display: flex;
    align-items: center;
    text-align: center;
}

.news-prod a {
    background-color: #ffffffff;
    color: #000;
    margin: auto;
    padding: 1rem;
    font-weight: bolder;
    border-radius: .5rem;
}


.sbox-one {
    background: url(Images/1.png) no-repeat center center/cover;
    opacity: .9;
}

.sbox-two {
    background: url(Images/2.png) no-repeat center center/cover;
    opacity: .9;
}

.sbox-three {
    background: url(Images/4.png) no-repeat center center/cover;
    opacity: .9;
}

.sbox-four {
    background: url(Images/9.png) no-repeat center center/cover;
    opacity: .9;
}

footer {
    background-color: #0d1120;
    color: #fafafa;
    font-weight: bolder;
    text-align: center;
    padding: 1.5rem;
}